In [2]:
import pandas as pd
from typing import Dict
import numpy as np

In [5]:
date: pd.DataFrame = pd.read_csv('dane.csv', sep='^')

date = date.select_dtypes(include=['float', 'int'])

def get_column_name(df: pd.DataFrame, mean: float, std: float) ->pd.DataFrame:
     for i in date.columns:
        if round(date[str(i)].mean(), 6) == mean:
            return str(i)
    
col_rename: Dict[str,str]= {
    get_column_name(date,691.014541,10):'X',
    get_column_name(date,631.276313,10):'Y',
    get_column_name(date,6494.488491,10):'Z',
    get_column_name(date,2002.447609,10):'year',
    get_column_name(date,6.437429,10):'score',
}
    
date = date.rename(columns = col_rename)
date

,C,D,X,Y,Z,I,P,S,W,score,Z,year,\
0,2.0,108.0,531.0,894.0,10000.0,NaN,1.0,14.0,2000000.0,4.4,1000.0,2011.0,NaN
1,89.0,84.0,134.0,307.0,655.0,20339754.0,2.0,73.0,10000000.0,5.9,651.0,2007.0,1.85
2,46.0,95.0,15.0,461.0,1000.0,20998709.0,0.0,76.0,15000000.0,6.2,786.0,2006.0,2.35
3,84.0,93.0,529.0,805.0,1000.0,NaN,0.0,304.0,16000000.0,8.1,884.0,2009.0,1.85
4,97.0,172.0,355.0,188.0,749.0,23650000.0,5.0,235.0,2100000.0,8.1,208.0,1946.0,1.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,113.0,102.0,0.0,212.0,1000.0,1891821.0,0.0,301.0,52000000.0,4.2,307.0,2005.0,2.35
4912,60.0,133.0,53.0,263.0,1000.0,68750000.0,0.0,144.0,55000000.0,6.4,780.0,1996.0,2.35
4913,41.0,99.0,30.0,209.0,480.0,398420.0,3.0,48.0,8000000.0,6.4,257.0,2007.0,2.35
4914,66.0,87.0,29.0,131.0,505.0,NaN,0.0,638.0,200000.0,8.0,323.0,2007.0,1.78
4915,34.0,93.0,58.0,722.0,995.0,31155435.0,2.0,102.0,12000000.0,6.2,729.0,2001.0,1.85